doctype html
html(lang=meta.locale)
   head
      include head/settings
      include head/seo
      include head/favicon
      include head/resources

   body

      - var hasHeader = meta.namespace !== 'homepage';
      if hasHeader
         include components/header

      main(id=meta.namespace)
         block content