doctype html
html(lang=meta.locale)
   head
      include head/settings
      include head/seo
      include head/favicon
      include head/resources

   body

      - var hasHeader = meta.namespace !== 'homepage';

      main(id=meta.namespace)

         if hasHeader
            include components/header

         block content