extends ../../layout

block content

	section(class="pt5 pt4-ns pt5-l")

		#hero

			img(
			src=group.hero
			class="db w-100"
			)

			h1= group.title

			if group.description
				each para in group.description
					p= group.description[para]