main#search

	input[type="submit"]
		background-image: url(svg/search.svg)
		background-position: center center

	#search-results

		article
			background-color: rgba(0, 0, 0, .01)
			text-align: justify
			@media (min-width: 39rem)
				max-width: 16rem
			&:hover
				background-color: rgba(0, 0, 0, .03)

		a:hover, a:focus
			img
				opacity: 1
			#title
				color: black
			#desc
				color: #777