main#search

	input[type="submit"]
		background-image: url(svg/search.svg)
		background-position: center center

	#search-results

		article
			text-align: justify

		a:hover, a:focus
			img
				opacity: 1
			#title
				color: black
			#desc
				color: #777

		#title
			font-size: 1.1rem